<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        {%block title%}
            <title>Base.html</title>
        {%endblock title%}
        {%block css%}
        {%endblock css%}
        {%block js%}
        {%endblock js%}
    </head>
    <body>
        {%block content%}
            <p>This is the content inside of base</p>
        {%endblock content%}
    </body>
</html>
